@import '_animate.min';
@import '_font-awesome.min';

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.eot');
    src: url('fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('fonts/BebasNeue-Regular.woff') format('woff'),
        url('fonts/BebasNeue-Regular.ttf') format('truetype'),
        url('fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
  font-family: "Bebas Neue",sans-serif;
  font-size: 1.2rem;

  padding: 0;
  margin: 0;
  overflow: hidden;
}

#introductionModal, #gameoverModal {
  background: #fff;
  text-align: center;
  display: none;
  z-index: 1200!important;

  .inner {
    border-radius: .8em;
    padding: .4em 1em 1em 1em;

    .start-game-btn, .restart-game-btn {
      background: #333;
      color: #fff;
      width: 220px;
      margin: 1em auto;
      padding: .6em;
    }
  }

  .list {
    text-align:left;
  }
}

#gameoverModal {
  background: #fff;
  display: none;
  z-index: 1200!important;
}

#bottom-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background:#1a0c03;
  color: #fff;
  z-index: 444;
  position: fixed;
  bottom: 0;
  left: 0;

  #score {
    flex-basis: 5rem;
    text-align:left;
    padding-top: .4em;
    padding-bottom: .4em;
    padding-bottom: .4em;
    padding-left: .5em;
  }

  #lastlog {
    flex-basis: 20rem;
  }

  #difficulty {
    flex-basis: 5rem;
    font-size: .9em;
  }

  #timer {
    flex-basis: 5rem;
    text-align:right;
    padding-top: .4em;
    padding-bottom: .4em;
    padding-right: .5em;
  }
}

#game{
  background-image: url('assets/bm_bg_1.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  width:100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 779px) {
  #game{
    background-size: auto 100% !important;
  }
}

@media only screen and (min-width: 780px) {
  #game{
    background-size: 100% auto !important;
  }
}

.box{

  width: 100px;
  height:100px;
  position:absolute;
  top: -150px;
  transition: transform 1.5s linear;
  cursor: pointer;
  z-index:100;
}

.move{
   transform:translateY(120vh);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
